{% extends "layout.njk" %}

{% block content %}
  <article class="package">
    <h1>{{ title }}</h1>
    <div class="package-body">
      {{ content | safe }}
    </div>

    <p><a href="/packages/">← Back to all packages</a></p>
  </article>
{% endblock %}
