---
pagination:
  data: collections.packages
  size: 1
permalink: false
---
<article class="card">
  <p class="eyebrow">{{ destination }}{% if duration %} • {{ duration }}{% endif %}</p>
  <h1>{{ title }}</h1>
  {% if image %}
  <img src="{{ image | url }}" alt="{{ title }}" class="banner"/>
  {% endif %}
  <p class="price">{% if price %}From {{ price }}{% endif %}</p>
  <div class="content">
    {{ content | safe }}
  </div>
</article>