---
layout: layouts/layout.njk
title: Contact
permalink: "/contact/index.html"
---

<h2>Contact Us</h2>
<p>We'd love to help you plan your trip.</p>
<ul>
  <li>Email: hello@tripndeal.com</li>
  <li>WhatsApp: +8801XXXXXXXXX</li>
</ul>